@model Acesvv.Models.Financeiro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Financeiro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saldo_Mes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saldo_Mes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrecadacao_Mensalidade_Atrasada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrecadacao_Mensalidade_Atrasada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrecadacao_Mensalidade_Antecipadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrecadacao_Mensalidade_Antecipadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Entradas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Entradas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contabilidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contabilidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa_Bancaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa_Bancaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apolice_Seguro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apolice_Seguro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Advogada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Advogada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renovacao_Assinatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renovacao_Assinatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxas_Bancarias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxas_Bancarias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxa_Internet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxa_Internet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Gastos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Gastos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Liquido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Liquido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
