@model Acesv.Models.Dados

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dados</h4> 
<hr />
<style>
    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            font-weight: bold;
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

        input:checked + .slider:before {
            transform: translateX(26px);
        }

    .slider-text {
        position: absolute;
        display: block;
        width: 60px;
        text-align: center;
        line-height: 34px;
        color: white;
        font-weight: bold;
        transition: .4s;
    }

        .slider-text:before {
            content: attr(data-on);
        }

    input:checked + .slider .slider-text:before {
        content: attr(data-off);
    }

</style>
<script>
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
    function toggleSwitch() {
        var switchText = document.getElementById('switchText');
        var toggleSwitch = document.getElementById('toggleSwitch');

        if (toggleSwitch.checked) {
            switchText.innerText = 'Remover';
        } else {
            switchText.innerText = 'Adicionar';
        }
    }


</script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EscolaId" class="control-label">Escolas</label><br />
                <div class="multiselect">
                    <div class="selectBox" onclick="showCheckboxes()">
                        <select>
                            <option>Selecione...</option>
                        </select>
                        <div class="overSelect"> </div>
                    </div>
                    <div id="checkboxes" class="teste">
                        @foreach (var escola in ViewBag.Escolas)
                        {
                            <div class="form-check">
                                <label class="form-check-label" for="chk_@escola.Value">
                                    <input class="form-check-input" type="checkbox" name="EscolaId" value="@escola.Value" id="chk_@escola.Value" @(Model.EscolasSelecionadas != null && Model.EscolasSelecionadas.Split(',').Any(e => e == escola.Value.ToString()) ? "checked" : "")>



                                    @escola.Text
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Apelido" class="control-label"></label>
                <input asp-for="Apelido" class="form-control" />
                <span asp-validation-for="Apelido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Nascimento" class="control-label"></label>
                <input asp-for="Data_Nascimento" class="form-control" />
                <span asp-validation-for="Data_Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prefixo" class="control-label"></label>
                <input asp-for="Prefixo" class="form-control" />
                <span asp-validation-for="Prefixo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairros" class="control-label"></label>
                <input asp-for="Bairros" class="form-control" />
                <span asp-validation-for="Bairros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Veiculo" class="control-label"></label>
                <input asp-for="Veiculo" class="form-control" />
                <span asp-validation-for="Veiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnh" class="control-label"></label>
                <input asp-for="Cnh" class="form-control" />
                <span asp-validation-for="Cnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaSelecionada" class="control-label"></label>
                <select asp-for="CategoriaSelecionada" class="form-control">
                    <option value="">Selecione uma categoria</option>
                    @foreach (var categoria in ViewData["Categorias"] as List<SelectListItem>)
                    {
                        <option value="@categoria.Value">@categoria.Text</option>
                    }
                </select>
                <span asp-validation-for="CategoriaSelecionada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Validade" class="control-label"></label>
                <input asp-for="Validade" class="form-control" />
                <span asp-validation-for="Validade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Número" class="control-label"></label>
                <input asp-for="Número" class="form-control" />
                <span asp-validation-for="Número" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
